<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <link rel="shortcut icon" href="{{asset "images/favicon.png"}}">
    <link href="{{asset "images/apple-touch-icon.png"}}" rel="apple-touch-icon" />
    <link href="{{asset "images/apple-touch-icon-76x76.png"}}" rel="apple-touch-icon" sizes="76x76" />
    <link href="{{asset "images/apple-touch-icon-120x120.png"}}" rel="apple-touch-icon" sizes="120x120" />
    <link href="{{asset "images/apple-touch-icon-152x152.png"}}" rel="apple-touch-icon" sizes="152x152" />
    <meta name="google-site-verification" content="kVMeUBOhc2jfoTNk5Gpxa_QIYp4pdVrbRoiM-lDWsaw" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="author" href="https://plus.google.com/105790146178074084423/">
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/all.min.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
{{! Everything else gets inserted here }}
{{{body}}}
    <footer class="site-footer clearfix ">
        <section class="copyright "><a href="{{@blog.url}} ">{{@blog.title}}</a> &copy; {{date format="YYYY "}}</section>
        <section>
        <a href="https://github.com/foru17/Yasuko">Theme Yasuko  </a> <a href="https://github.com/foru17/Yasuko" class="github-repo"><span class="gadget-github"></span>Star</a> Designed by <a href="https://luolei.org ">@罗磊</a>
        </section>
            <section class="poweredby ">Powered by  <a href="https://ghost.org ">Ghost</a></section>
            <section><a href="http://www.miitbeian.gov.cn/">辽ICP备15015656号</a></section>
    </footer>
    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/all.min.js"}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.6.0/APlayer.min.js"></script>
<script type="text/javascript">
    
    autoplay = true;
    var id;
    var midpattern = new RegExp("^musicid");
    var playpattern = new RegExp("^autoplay");

    $("div").find("p").each(function(){
        if(midpattern.test($(this).text())) {
            idindex = $(this).text().indexOf("=")
            id = $(this).text().substr(idindex+1);
        }
        if(playpattern.test($(this).text())){
            autoplay = false;
        }
    });

    if(id){
        var mdetail = $.getJSON("http://www.lyhonk.com:3000/song/detail?ids="+id);
        var murl = $.getJSON("http://www.lyhonk.com:3000/music/url?id="+id);
        var mlrc = $.getJSON("http://www.lyhonk.com:3000/lyric?id="+id);
        $.when(mdetail, murl, mlrc).done(function(a, b, c){
            var ap = new APlayer({
                element: document.getElementById('musicplayer'),
                narrow: false, 
                autoplay: autoplay, 
                mutex: true,
                showlrc:1,
                music: {
                    title: a[0].songs[0].name,
                    author: a[0].songs[0].ar[0].name,
                    pic: a[0].songs[0].al.picUrl,
                    url: b[0].data[0].url,
                    lrc: c[0].lrc.lyric ,
                }
            });
        });
    };

</script>
</body>
</html>
